/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Genesis fonts */
@font-face {
  font-family: 'GenesisSansHead';
  src: url('./fonts/GenesisSansHead-Light.woff') format('woff'),
    url('./fonts/GenesisSansHead-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'GenesisSansText';
  src: url('./fonts/GenesisSansText-Regular.woff') format('woff'),
    url('./fonts/GenesisSansText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GenesisSansText';
  src: url('./fonts/GenesisSansText-Bold.woff') format('woff'),
    url('./fonts/GenesisSansText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GenesisSansText';
  src: url('./fonts/GenesisSansText-BoldItalic.woff') format('woff'),
    url('./fonts/GenesisSansText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GenesisSansText';
  src: url('./fonts/GenesisSansText-Italic.woff') format('woff'),
    url('./fonts/GenesisSansText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Variables */
:root {
  --genesis-gold: #8B614C;
  --light-black: #373737;
  --car-color-1: #204F5D;
  --car-color-2: #1C3F4A;
}

/* Global */
body {
  font-family: 'GenesisSansText', Futura, sans-serif;
  background-color: black;
  color: white;
  overflow-y: hidden;
}
h1 {
  font-family: 'GenesisSansHead', Futura, sans-serif;
  font-weight: lighter;
}

/* Springboard */
main#springboard {
  border: 1px solid var(--genesis-gold);
  padding: 1rem;
  margin: 1rem;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation-name: springboard-splash;
  animation-duration: 1s;
}
img#emblem {
  padding-top: 1rem;
  width: 200px;
  animation-name: emblem-splash;
  animation-duration: 1.6s;
}

/* Springboard header */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 0 .5rem 0;
  animation-name: button-intro;
  animation-duration: 4s;
}
header div#fuel-avail, header div#refresh-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% + 10px);
  width: 90px;
  border-radius: 15px;
}
header div img {
  height: 14px;
  margin-right: 7px;
}
header div div {
  padding-top: 1px;
  font-size: .8rem;
}
header div#refresh-action {
  border: 1px solid var(--light-black);
}

/* Springboard primary control panel */
section {
  display: grid;
  height: 20rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;
  margin-bottom: 1rem;
}
section button {
  background-color: var(--genesis-gold);
  border: none;
  border-radius: .5rem;
  animation-name: button-intro;
  animation-duration: 4s;
  font-family: 'GenesisSansHead', Futura, sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  letter-spacing: .15rem;
  color: white;
}
section button:first-of-type {
  grid-column-end: span 2;
  background-color: var(--light-black);
}
section button:last-of-type {
  background: var(--car-color-2);
  background: linear-gradient(340deg, var(--car-color-2) 0%, var(--car-color-1) 92%);
}
section button.action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section button.action-button img {
  height: 30px;
  margin-bottom: 10px;
}

/* Springboard footer */
footer {
  padding-bottom: 1.5rem;
}
img#car {
  width: 500px;
  height: 150px;
  object-fit: cover;
}
div#car_name {
  text-align: center;
  font-family: 'GenesisSansHead', Futura, sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
}
div#car_details_milage {
  text-align: center;
  font-family: 'GenesisSansHead', Futura, sans-serif;
  font-weight: lighter;
  color: var(--genesis-gold);
  font-size: 1rem;
  letter-spacing: .1rem;
}

/* Animation keyframes */
@keyframes springboard-splash {
  from {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes emblem-splash {
  from {
    opacity: 0;
  }

  50% {
    transform: scale(.5) translate(0, -150px);
    opacity: 0;
  }

  to {
    transform: scale(1);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes button-intro {
  from {
    transform: scale(.5);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}